@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.circle-row {
  display: flex;
  justify-content: center;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #d1d5db;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  flex-direction: column;
}

.circle:nth-child(2) {
  margin-top: -40px; /* Adjust as needed */
}

.circle-text-large {
  font-size: 58px;
  color: black;
  font-family: var(--font-koulen), sans-serif;
}

.circle-text-small {
  font-size: 36px;
  color: black;
  font-family: var(--font-koulen), sans-serif;
}

/* Fixes issue with lists not numbering */
ol li {
  list-style: decimal;
  list-style-position: inside;
}

@font-face {
  font-family: 'Koulen';
  src: url('https://github.com/danhhong/Koulen/raw/master/Release/ttf/Koulen-Regular.ttf');
}

@font-face {
  font-family: 'HomemadeApple';
  src: url('https://github.com/d3y4n/fonterator/raw/master/static/fonts/Homemade%20Apple.ttf');
}